body {
  padding: 0;
  box-sizing: border-box;
  background-color: #d3c0b2;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}

a {
  display: block;
  padding-right: 8;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  gap: 10rem;
}

nav ul li a {
  color: #000;
  font-weight: normal;
  text-decoration: none;
  text-align: right;
  padding: 1rem;
  font-size: 2.1rem;
  border-radius: 1rem;
  font-family: looking-flowers-script, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: white;
  opacity: 40%;
}

#banner {
  background-image: url(styles/banner.jpg);
  background-size: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.one {
  height: 70rem;
  display: grid;
  justify-content: center;
}

.bunden {
  color: #575e68;
  font-size: 1.9rem;
  font-family: looking-flowers-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
}

/*
@media (orientation: portrait) and (min-width: 500px) {
  .one {
    width: 100%;
    height: 56.25vw;
  }
}

@media (min-width: 700px) {
  .one {
    display: grid;
    gap: 10px;
  }
}
*/
