body {
  padding: 0;
  box-sizing: border-box;
  background-color: #d3c0b2;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

a {
  display: block;
  padding-right: 1rem;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  gap: 10rem;
}

nav ul li a {
  color: #575e68;
  font-weight: normal;
  text-decoration: none;
  text-align: right;
  padding: 1rem;
  font-size: 2.5rem;
  border-radius: 1rem;
  font-family: looking-flowers-script, sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  background-color: white;
  opacity: 40%;
}

li:hover a {
  color: darkmagenta;
}

#banner {
  background-size: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-image: url(banner.webp);
  height: 30vw;
  width: 100%;
}

.tekst_two {
  font-size: 3rem;
  font-family: looking-flowers-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.one {
  display: grid;
  justify-content: center;
}

/*---------------------------------------------Footer START----------------------------------------------------------------*/
.bunden {
  font-size: 1.9rem;
  font-family: looking-flowers-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
  padding-top: 1rem;
}

footer {
  background-color: white;
  opacity: 40%;
  margin-top: 5rem;
}

.kontakt > p {
  color: black;
  font-size: 1rem;
  margin-left: 2rem;
}

@media (max-width: 700px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .kontakt {
    grid-template-columns: 1fr;
  }
  .bunden_image {
    grid-template-columns: 1fr;
  }
  .linke {
    grid-template-columns: 1fr;
  }
}

/*---------------------------------------------Footer SLUT-----------------------------------------------------------------*/

/*---------------------------------------------Om mig START----------------------------------------------------------------*/

.picture_two {
  height: 18rem;
  width: 18rem;
  padding-left: 3rem;
}

h4 {
  font-size: 1.3rem;
  border-radius: 1rem;
  font-family: mencken-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h3 {
  font-size: 1.5rem;
  border-radius: 1rem;
  font-family: mencken-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

p {
  font-size: 1.2rem;
  border-radius: 1rem;
  font-family: mencken-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  max-width: 60ch;
}

/*---------------------------------------------Om mig SLUT-----------------------------------------------------------------*/

/*---------------------------------------------Portfolie START-------------------------------------------------------------*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@media (min-width: 600px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

/*---------------------------------------------Portfolie SLUT--------------------------------------------------------------*/

/*-------------------------------------------------Menu START--------------------------------------------------------------*/

.hidden {
  /*    display: none;*/
  /*    transform: scale(0);*/
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  position: fixed;
  color: #7d8d7b;
  padding: 1rem;
  background-color: #fff;
  cursor: pointer;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media only screen and (min-width: 600px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }
}

/*-------------------------------------------------Menu SLUT--------------------------------------------------------------*/

/*-------------------------------------------------Tema START-------------------------------------------------------------*/

#section_three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 5rem;
  padding-top: 5%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.three {
  display: grid;
  justify-content: center;
}

@media (max-width: 700px) {
  #section_three {
    grid-template-columns: 1fr;
  }
}
/*-------------------------------------------------Tema SLUT-------------------------------------------------------------*/
